.input-label { width: 10%; }
textarea { height: 200px; }

.event-name { font-weight: bold; }

.concert { font-weight: bold; color: #a61805; }
.wedding { font-weight: bold; color: #065467; }
.generic { font-weight: bold; color: #5f9905; }

.details { color: #ccc; }
.loader { font-size: 50px; }

.s { color: #aa0000; }
.ms { color: #ff8326; }
.a { color: #008000; }
.t { color: #0000ff; }
.b { color: #000042; }
