<ion-view title="{{event.name}}" ng-controller="AttendeesCtrl">
  <ion-content>
    <ion-list>
      <div ng-repeat="r in ['s', 'ms', 'a', 't', 'b']">
        <div class="item item-divider"><i class="icon ion-record {{r}}"></i>&nbsp;{{roleNames[r]}}</div>
        <ion-item ng-if="userMode" 
          ng-repeat="attendee in roles[r]"
          class="item-icon-right">
          {{attendee.name}}
          <i ng-if="attendee.confirmed === 'y'" class="icon balanced ion-checkmark-circled"></i>
          <i ng-if="attendee.confirmed === 'm'" class="icon energized ion-help-circled"></i>
          <i ng-if="attendee.confirmed === 'n'" class="icon assertive ion-close-circled"></i>
        </ion-item>
        <ion-item ng-if="adminMode"
          ng-repeat="attendee in roles[r]"
          toggle-class="toggle-balanced"
          class="item-button-right">
          {{attendee.name}}
          <div class="button button-light bg"></div>
          <button class="button button-clear {{attendee.confirmed | confirmation:'no'}} no" ng-click="attendee.confirmed = 'n'; updateEvent();">
            <i class="icon ion-close-circled"></i>
          </button>
          <button class="button button-clear {{attendee.confirmed | confirmation:'maybe'}} maybe" ng-click="attendee.confirmed = 'm'; updateEvent();">
            <i class="icon ion-help-circled"></i>
          </button>
          <button class="button button-clear {{attendee.confirmed | confirmation:'yes'}} yes" ng-click="attendee.confirmed = 'y'; updateEvent();">
            <i class="icon ion-checkmark-circled"></i>
          </button>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
