<!DOCTYPE html>
<html ng-app="lgcAttendance">
  <head>
    <meta charset="utf-8">
    <title>LGC - Disponibilit&agrave;</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="http://code.ionicframework.com/1.0.0-beta.11/css/ionic.css" rel="stylesheet">
    <script src="http://code.ionicframework.com/1.0.0-beta.11/js/ionic.bundle.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_it-it.js"></script>
    
    <script src="bower_components/angularjs-mongolab/src/angular-mongolab.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>

    <link href="css/app.css" rel="stylesheet">

    <script src="js/config.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body>

  <ion-nav-bar class="nav-title-slide-ios7 bar-assertive">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-view animation="slide-left-right"></ion-nav-view>

  <script id="events.html" type="text/ng-template">
    <ion-view title="Eventi LGC" ng-controller="EventsCtrl">
      <ion-nav-buttons side="left" ng-if="adminMode">
        <button class="button button-icon icon ion-minus-circled" ng-click="toggleDelete()"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right" ng-if="adminMode">
        <button class="button button-icon icon ion-plus-circled" ng-click="openEventPopup()"></button>
      </ion-nav-buttons>
      <ion-content>
        <ion-list
          show-delete="showDelete"
          can-swipe="listCanSwipe">
          <ion-item ng-repeat="event in events" href="#/events/{{event.$id()}}/attendees">
            <h2 class="event-name">
              <i class="icon ion-music-note" ng-if="event.type === 'concert'"></i>
              <i class="icon ion-heart" ng-if="event.type === 'wedding'"></i>
              <i class="icon ion-star" ng-if="event.type === 'generic'"></i>
              {{event.name}}
              <i class="icon ion-person details" ng-if="event.clothing"></i>
              <i class="icon ion-arrow-shrink details" ng-if="event.meetingTime"></i>
              <i class="icon ion-clipboard details" ng-if="event.notes"></i>
            </h2>
            <p>
              <span ng-if="event.date"><i class="icon ion-calendar">
                </i>&nbsp;{{event.date | date:'EEE d MMM yyyy'}}
              </span>
              <span ng-if="event.time"><i class="icon ion-clock">
                </i>&nbsp;{{event.time}}
              </span>
              <br ng-if="event.date || event.time" />
              <span ng-if="event.location">
                <i class="icon ion-location"></i>&nbsp;{{event.location}}
              </span>
              <br ng-if="event.location" />
              <span ng-if="event.attendance">
                <i class="icon ion-person-stalker"></i>
                <span class="s" ng-if="event.attendance.s">S:{{event.attendance.s}}</span>
                <span class="ms" ng-if="event.attendance.ms">&nbsp;MS:{{event.attendance.ms}}</span>
                <span class="a" ng-if="event.attendance.a">&nbsp;A:{{event.attendance.a}}</span>
                <span class="t" ng-if="event.attendance.t">&nbsp;T:{{event.attendance.t}}</span>
                <span class="b" ng-if="event.attendance.b">&nbsp;B:{{event.attendance.b}}</span>
              </span>
            </p>
            <ion-delete-button class="ion-minus-circled" ng-click="deleteEvent(event)" ng-if="adminMode">
            </ion-delete-button>
            <ion-option-button class="button-positive" ng-click="openEventPopup(event)" ng-if="adminMode">
              <i class="icon ion-edit"></i>
            </ion-option-button>
            <ion-option-button class="button-dark" ng-click="openEventDetailsPopup(event)">
              <i class="icon ion-information"></i>
            </ion-option-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-view>
  </script>

  <script id="attendees.html" type="text/ng-template">
    <ion-view title="{{event.name}}" ng-controller="AttendeesCtrl">
      <ion-content>
        <ion-list>
          <div class="item item-divider"><i class="icon ion-record s"></i>&nbsp;Soprani</div>
          <ion-item ng-if="!adminMode" 
            ng-repeat="attendee in roles.s"
            class="item-icon-right">
            {{attendee.name}}
            <i ng-if="attendee.confirmed" class="icon ion-checkmark"></i>
          </ion-item>
          <ion-toggle ng-if="adminMode"
            ng-repeat="attendee in roles.s"
            ng-model="attendee.confirmed"
            ng-change="updateEvent()"
            toggle-class="toggle-balanced">
            {{attendee.name}}
          </ion-toggle>
          <div class="item item-divider"><i class="icon ion-record ms"></i>&nbsp;Mezzi Soprani</div>
          <ion-item ng-if="!adminMode" 
            ng-repeat="attendee in roles.ms"
            class="item-icon-right">
            {{attendee.name}}
            <i ng-if="attendee.confirmed" class="icon ion-checkmark"></i>
          </ion-item>
          <ion-toggle ng-if="adminMode"
            ng-repeat="attendee in roles.ms"
            ng-model="attendee.confirmed"
            ng-change="updateEvent()"
            toggle-class="toggle-balanced">
            {{attendee.name}}
          </ion-toggle>
          <div class="item item-divider"><i class="icon ion-record a"></i>&nbsp;Contralti</div>
          <ion-item ng-if="!adminMode" 
            ng-repeat="attendee in roles.a"
            class="item-icon-right">
            {{attendee.name}}
            <i ng-if="attendee.confirmed" class="icon ion-checkmark"></i>
          </ion-item>
          <ion-toggle ng-if="adminMode"
            ng-repeat="attendee in roles.a"
            ng-model="attendee.confirmed"
            ng-change="updateEvent()"
            toggle-class="toggle-balanced">
            {{attendee.name}}
          </ion-toggle>
          <div class="item item-divider"><i class="icon ion-record t"></i>&nbsp;Tenori</div>
          <ion-item ng-if="!adminMode" 
            ng-repeat="attendee in roles.t"
            class="item-icon-right">
            {{attendee.name}}
            <i ng-if="attendee.confirmed" class="icon ion-checkmark"></i>
          </ion-item>
          <ion-toggle ng-if="adminMode"
            ng-repeat="attendee in roles.t"
            ng-model="attendee.confirmed"
            ng-change="updateEvent()"
            toggle-class="toggle-balanced">
            {{attendee.name}}
          </ion-toggle>
          <div class="item item-divider"><i class="icon ion-record b"></i>&nbsp;Bassi</div>
          <ion-item ng-if="!adminMode" 
            ng-repeat="attendee in roles.b"
            class="item-icon-right">
            {{attendee.name}}
            <i ng-if="attendee.confirmed" class="icon ion-checkmark"></i>
          </ion-item>
          <ion-toggle ng-if="adminMode"
            ng-repeat="attendee in roles.b"
            ng-model="attendee.confirmed"
            ng-change="updateEvent()"
            toggle-class="toggle-balanced">
            {{attendee.name}}
          </ion-toggle>
        </ion-list>
      </ion-content>
    </ion-view>
  </script>

  <script id="event-popup.html" type="text/ng-template">
    <div class="modal">
      <ion-header-bar class="bar-positive">
        <button class="button button-clear button-icon ion-arrow-left-c" ng-click="closeEventPopup()"></button>
        <h1 class="title">{{popupTitle}}</h1>
      </ion-header-bar>
      <ion-content>
        <form ng-submit="saveOrUpdateEvent(event)">
          <div class="list">
            <label class="item item-input">
              <span class="input-label"><i class="icon ion-quote"></i></span>
              <input type="text" placeholder="Nome" ng-model="event.name">
            </label>
            <div class="item item-divider">Tipo</div>
            <label class="item item-radio">
              <input type="radio" name="type" ng-model="event.type" value="concert">
              <div class="item-content"><i class="icon ion-music-note"></i>&nbsp;Concerto</div>
              <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
              <input type="radio" name="type" ng-model="event.type" value="wedding">
              <div class="item-content"><i class="icon ion-heart"></i>&nbsp;Matrimonio</div>
              <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
              <input type="radio" name="type" ng-model="event.type" value="generic">
              <div class="item-content"><i class="icon ion-star"></i>&nbsp;Generico</div>
              <i class="radio-icon ion-checkmark"></i>
            </label>
            <div class="item item-divider">Dettagli</div>
            <label class="item item-input">
              <span class="input-label"><i class="icon ion-calendar"></i></span>
              <input type="date" placeholder="Data" ng-model="event.date">
            </label>
            <label class="item item-input">
              <span class="input-label"><i class="icon ion-clock"></i></span>
              <input type="time" placeholder="Ora" ng-model="event.time">
            </label>
            <label class="item item-input">
              <span class="input-label"><i class="icon ion-location"></i></span>
              <input type="text" placeholder="Luogo" ng-model="event.location">
            </label>
            <label class="item item-input">
              <span class="input-label"><i class="icon ion-person"></i></span>
              <input type="text" placeholder="Abbigliamento" ng-model="event.clothing">
            </label>
            <label class="item item-input">
              <span class="input-label"><i class="icon ion-arrow-shrink"></i></span>
              <input type="time" placeholder="Ora Ritrovo" ng-model="event.meetingTime">
            </label>
            <label class="item item-input">
              <span class="input-label"><i class="icon ion-clipboard"></i></span>
              <textarea placeholder="Note" ng-model="event.notes"></textarea>
            </label>
          </div>
          <div class="padding">
            <button type="submit" class="button button-block button-positive">{{popupConfirmButton}}</button>
          </div>
        </form>
      </ion-content>
    </div>
  </script>

  <script id="event-details-popup.html" type="text/ng-template">
    <div class="modal">
      <ion-header-bar class="bar-positive">
        <button class="button button-clear button-icon ion-arrow-left-c" ng-click="closeEventDetailsPopup()"></button>
        <h1 class="title">
          <i class="icon ion-music-note" ng-if="event.type === 'concert'"></i>
          <i class="icon ion-heart" ng-if="event.type === 'wedding'"></i>
          <i class="icon ion-star" ng-if="event.type === 'generic'"></i>
          {{event.name}}
        </h1>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <ion-item class="item-icon-left" ng-if="event.date">
            <i class="icon ion-calendar"></i>
            {{event.date | date:'EEEE d MMMM yyyy'}}
          </ion-item>
          <ion-item class="item-icon-left" ng-if="event.time">
            <i class="icon ion-clock"></i>
            {{event.time}}
          </ion-item>
          <ion-item class="item-icon-left" ng-if="event.location">
            <i class="icon ion-location"></i>
            {{event.location}}
          </ion-item>
          <ion-item class="item-icon-left" ng-if="event.clothing">
            <i class="icon ion-person"></i>
            {{event.clothing}}
          </ion-item>
          <ion-item class="item-icon-left" ng-if="event.meetingTime">
            <i class="icon ion-arrow-shrink"></i>
            Ritrovo alle ore {{event.meetingTime}}
          </ion-item>
          <ion-item class="item-icon-left" ng-if="event.notes">
            <i class="icon ion-clipboard"></i>
            <pre class="notes">{{event.notes}}</pre>
          </ion-item>
        </ion-list>
      </ion-content>
    </div>
  </script>
  
  </body>
</html>
